
html {
    font-family: 'Poppins', sans-serif;
    background-color: #0D1117;
    color: white;

}


#parent {
    width: 100%;
    height: 100vh;
}

.content {
    width: 80%;
    margin: auto;
}

#heading {
    padding-top: 120px;
    padding-bottom: 70px;
    height: 100%;
    max-height: 600px;
}

#heading h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

#heading h3 {
    text-align: center;
    color: #2b2b2b;
}

#heading h1 img {
    width: 4rem;
    vertical-align: middle;
}

#projects {
    background-color: #d16ecf;
    max-height: 800px;
    text-align: center;
    padding-bottom: 100px;
}

.list-strong h5 {
    color: #ffffff;
    text-align: center
    
}

#projects p {
    width: 60%;
    margin: auto;
    text-align: center;
}

#projects h3 {
    font-size: 1.6rem;
}

#pr-name {
    padding-top: 50px;
}

.list-strong {
    width: 100%;
    margin: auto;
    max-width: 500px;
    margin-top: 80px;
    opacity: .9;
    background-color: #0D1117;
    padding: 20px;
    padding-top: 10px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    #projects {
	margin-top: 200px;
    }

    .list-strong {
	width: 300px;
    }

}

a {
    text-decoration: none;
}



.list-strong h3 {
    color: #ffffff;
}


#about {
    max-height: 800px;
    text-align: center;
    padding-bottom: 50px;
}

#about p {
    width: 70%;
    margin: auto;
    max-width: 800px;
    text-align: left;
    font-weight: 400;
}

#footer {
    padding-top: 100px;
}

#footer a {
    text-decoration: none;
    color: white;
    
}
